upsnet
my_tools

*.egg-info/
*.py[cdo]
.idea
*.prof
*.*~
build/
dist/
*/*/*logs*
*/*logs*
profile_backup/
viz_evaluate*.png
cmake-build-debug
data/

scripts/sandbox/data
venv
*.chkpt
*.de
*.en
htmlcov
CMakeLists.txt
pred.txt

TODO*
cache
old_cache

*.ipynb_checkpoints*

sandbox/model_checkpoints
