cython==0.29.7
detectron2==0.1
direnv==2019.4.13
easydict==1.9
emacs==24.1.50.1.post20120610
fvcore==0.1
gputil==1.4.0
ipdb==0.12
jupyter==1.0.0
opencv-python==4.1.1.26
ortools==7.0.6546
pip-chill==0.1.8
pycocotools==2.0.0
pytz==2019.1
radon==3.0.3
scikit-image==0.15.0
tensorboardx==1.6
torchvision==0.4.1
watchdog==0.9.0
youtube-dl==2019.10.22
